/* ----------------------------------- 버튼 ----------------------------------- */
@use 'variables' as *;

.aside__locations {
  position: fixed;
  top: 280px;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  border-top: 1px solid #CFCFD0;
  font-size: $text-12;
  background-color: rgba($black, $alpha: 0.7);

  a {
    position: absolute;
    top: 0;
    width: 161px;
    height: 38px;
  }

  .locations__text {
    display: flex;
    flex-flow: column nowrap;
    align-items: end;
    color: #CFCFD0;

    span:nth-child(1) {
      font-weight: bold;
    }
  }

  .locations__arrow {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 23px;
    border-radius: 50%;
    background-color: #CFCFD0;
  }
}

.card__more {
  display: grid;
  place-items: center;
  align-self: center;
  width: 170px;
  height: 50px;
  background-color: $blue;
  font-size: $text-14;
  color: $white;
}