/* ----------------------------------- 메뉴 ----------------------------------- */
@use 'variables' as *;

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "logo search menu";
  width: 90%;
  margin-top: 20px;

}

h1 {
  grid-area: logo;
  font-size: $text-32;
}

.nav {
  display: grid;
  grid-area: menu;
  order: 1;

}

.nav__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  font-size: $text-12;

  .nav__button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    button {
      display: flex;
      flex-flow: row nowrap;
      gap: $spacing-4;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    
  }
}

.header__search {
  grid-area: search;
  place-self: center;
  font-size: $text-12;

  .search__wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5px;

    label {
      width: 10px;

      svg {
        width: 10px;
      }
    }

    input {
      border: 0;
      width: 110px;
      font-size: $text-10;
      background-color: transparent;
      outline: none;

      &::placeholder {
        color: $black;
        font-weight: bold;
      }
    }
  }
}

