@import "input";
@import "button";

body *,
body *::after,
body *::before {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1 {
  font-weight: 300;
  letter-spacing: -0.75px;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.small-txt {
  font-size: 0.75rem;
}

.point-txt {
  color: #ff3c49;
  font-weight: 600;
  text-transform: capitalize;
}
