@import "reset.css";
@import "base";
@import "variables";

body {
  width: 100%;
  height: 100vh;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    display: block;
    width: 50%;
    height: inherit;
    background-color: $main-color;
  }
  main {
    @include flex-sb;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    padding: 1rem;

    .bg-txt {
      .content {
        @include txt-sm;
        margin-top: 0.25rem;
      }
    }
    header,
    footer {
      width: 100%;
      @include flex-sb;
    }
    header {
      button {
        i {
          color: $main-color;
        }
      }
    }
    .sign-up {
      display: flex;
      position: absolute;
      left: calc(50% - 150px);
      top: 20%;
      flex-direction: column;
      width: 300px;
      background-color: $white;
      border-radius: 1rem;
      box-shadow: 0 0 15px rgba($black, 0.15);
      padding: 2rem;
      text-align: center;

      h1 {
        &::after {
          content: "";
          display: block;
          margin: 1rem auto 2rem;
          width: 10%;
          border-bottom: 1px solid $main-color;
          z-index: 10;
        }
      }
      .login-trf {
        @include txt-sm;
        margin-top: 2rem;
      }
    }
    footer {
      .home {
        i {
          @include txt-sm;
          margin-right: 0.25rem;
        }
      }
    }
  }
}
