@use "./../utils" as *;
@use "./../components/form";

.signup-container {
  @include flexbox($justify: center, $align: center);
  position: relative;
  width: 80vw;
  height: 90vh;
  margin: 5vh auto;
  padding: $large-spacing;
  border-radius: 0.5 * $large-spacing;
  background: linear-gradient(to right, $red 50%, $white 50%);
  box-shadow: 0 0 0.75rem $gray-1;

  .main {
    width: 100%;
    @include mq(sm) {
      width: 25rem;
    }
  }

  .aside {
    position: absolute;
    left: 0;
    padding: $large-spacing;
    color: $white;

    &-message {
      font-size: $extra-large-text;
      font-weight: 700;
    }
  }
}
