@use "./../utils" as *;

$burger-width: 2rem;

.burger-button {
  @include gridbox(1, 1);
  width: $burger-width;
  height: 0.6 * $burger-width;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.burger-bar {
  width: 100%;
  height: 20%;
  border-radius: 9999px;
  background-color: $red;
  grid-area: 1 / 1 / 2 / 2;

  &-top {
    align-self: start;
  }
  &-middle {
    align-self: center;
  }
  &-bottom {
    align-self: end;
  }
}
