@use "./../utils" as *;

.submit-button {
  width: 100%;
  padding: $small-spacing;
  border: none;
  border-radius: 1.5rem + $small-spacing;
  background-color: $red;
  font-size: $medium-text;
  color: $white;
}
