@use "./../utils" as *;
@use "./../components/textinput";
@use "./../components/button";

$form-spacing: $large-spacing;

.signup-form {
  fieldset {
    @include flexbox(column, $align: center, $gap: $form-spacing);
    width: 30vw;
    padding: $form-spacing;
    border: none;
    border-radius: 0.5 * $form-spacing;
    box-shadow: 0 0 0.75rem $gray-1;
    background-color: $white;
  }

  &-title {
    font-size: $large-text;
  }
}

.signin-link {
  color: $red;
  text-decoration: none;
}
