// font-family
$base-font-family: "SUIT Variable", sans-serif;

// Spacing
$x-small-spacing: 0.5rem;
$small-spacing: 0.75rem;
$base-spacing: 1rem;
$large-spacing: 2.5rem;
$extra-large-spacing: 3.75rem;

// Colors
$red: #ff3b48;
$white: #ffffff;
