/* -------------------------------------------------------------------------- */
/*                             로그인 input component                            */
/* -------------------------------------------------------------------------- */

.form-login-component {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-bottom: var(--small-spacing);
  margin-top: var(--large-spacing);
  border-bottom: 1px solid var(--gray-200);
  font-size: var(--small-text);

  input {
    width: 100%;
    border: none;
    background: none;
  }

  input::placeholder {
    color: var(--black);
  }

  label {
    span {
      vertical-align: bottom;
    }
  }
}
