:root {
  --white: #fff;
  --black: #000;
  --gray-100: #f8f7f7;
  --gray-200: #dcdbdb;
  --gray-300: #b3abab;
  --pink-100: #facfd2;
  --pink-200: #f69ca2;
  --pink-300: #f77c83;
  --pink-400: #fa404d;
}
