@import url("https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-rounded/css/uicons-regular-rounded.css");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1720872615464-ce2d6f969d1b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: 50%;
}

.container__top {
  margin: 0 120px;
  padding: 0 60px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container__middle {
  margin: 0 120px;
  padding: 30px;
  background-color: #fff;
}
.container__text {
  margin-bottom: 50px;
}
.container__input {
  background-color: #fff;
  padding: 30px;
}

.box__input {
  display: flex;
  gap: 3px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 45px 120px;
  position: absolute;
}
header .header__menu {
  display: flex;
}
header .header__menu li {
  padding: 0 20px;
}

h1 {
  font-size: 72px;
  color: #000;
  line-height: 100%;
  font-weight: 200;
  font-family: Pretendard;
  margin-bottom: 30px;
}
h1 span.font__bold {
  font-weight: 600;
}

p.text__description {
  border-left: 3px solid #3854de;
  padding: 3px 10px;
  line-height: 120%;
}

.input__select {
  background-color: transparent;
}
.input__search {
  background-color: transparent;
  border: 0;
}
.input__search::-moz-placeholder {
  color: #000;
}
.input__search::placeholder {
  color: #000;
}

.button {
  border: 0;
  margin-left: 15px;
  font-size: 1.25rem;
}
.button__primary {
  width: 100px;
  background-color: #3854de;
  color: #fff;
}

body {
  font-size: 16px;
}
body * {
  box-sizing: border-box;
}